@import url('../../global/theme.less');

@class-prefix-grid: ~'adm-grid';
.@{class-prefix-grid} {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: row;
  align-items: stretch;
  flex-wrap: wrap;
}
