@import "../../global/theme";

@class-prefix-button: ~'adm-button';

.@{class-prefix-button} {
  border: 1px solid #eee;
  position: relative;
  display: inline-block;
  box-sizing: border-box;
  height: auto;
  padding: 7px 16px;
  margin: 0;
  font-size: 15px;
  line-height: 1.4;
  text-align: center;
  cursor: pointer;
  transition: opacity ease 0.15s;
  user-select: none;
  
  &-block {
    display: block;
    width: 100%;
  }

  &-disabled {
    cursor: not-allowed;


    &:active::before {
      display: none;
    }
  }

  &-mini {
    padding: 3px 7px;
    font-size: 13px;
    &-shape-rounded {
      padding-left: 9px;
      padding-right: 9px;
    }
  }

  &-small {
    padding: 3px 11px;
    font-size: 15px;
  }

  &-large {
    padding: 11px 22px;
    font-size: 18px;
  }

  &-shape-rounded {
    border-radius: 1000px;
  }
  &-shape-rectangular {
    border-radius: 0;
  }

  &-loading {
    vertical-align: bottom;
    background-image: url('./loading.png');
    background-position: left center;
    background-repeat: no-repeat;
    background-size: 22px 22px;
    padding-left: 24px;
  }
}
