@class-prefix-dropdown: ~'adm-dropdown';
@class-prefix-dropdown-item: ~'adm-dropdown-item';

.@{class-prefix-dropdown} {
  background-color: pink;
  display: flex;
  flex: 1;
  flex-direction: row;
  justify-content: center;
  align-items: center;
 &-item{
   flex: 1;
   padding: 12px;
   text-align: center;
   font-size: 13px;
   cursor: pointer;

 }
}
