@class-prefix-rate: ~'adm-rate';

.@{class-prefix-rate} {
  display: flex;
  flex-direction: row;
  &-box {
    position: relative;
  }

  &-star {
    color: #ccc;
    text-align: center;
    overflow: hidden;
    cursor: pointer;
    &-half {
      z-index: 666;
      padding-right: 0;
      width: 50%;
      position: absolute;
      left: 0;
      top: 0;
    }
    &-readonly {
      cursor: unset;
    }
  }
}
