@import url('../../global/theme.less');

.adm-tab-bar {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: stretch;
  // overflow: hidden;
  min-height: 50px;
  &-item {
    flex: 1;
    white-space: nowrap;
    padding: 4px 8px;
    // width: min-content;
    position: relative;
    cursor: pointer;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }

  &-item-icon {
    font-size: 20px;
    height: auto;
    line-height: 1;
    margin: 4px 0 1px;
    color: var(--adm-color-weak);
    &-active {
      color: var(--adm-color-primary);
    }
  }

  &-item-title {
    font-size: 15px;
    line-height: 15px;
    color: var(--adm-color-weak);
    &-active {
      color: var(--adm-color-primary);
    }
  }
}
.tabbar-align-item-center {
  align-items: center;
}
