@class-prefix-selector: ~'adm-selector';
.@{class-prefix-selector} {
  &-item {
    padding: 0 20px;
    width: auto;
    height: 44px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 4px;
    opacity: 1;
    cursor: pointer;
    text-align: center;
    box-shadow: 0 0 .3 #000;
    &-disabled {
      cursor: not-allowed;
      opacity: 0.6;
    }
  }
  &-label {
    font-size: 16px;
  }
  &-check-mark-wrapper {
    align-self: flex-end;
    position: absolute;
    bottom: 0;
    right: 0;
    width: 0;
    height: 0;
    border-top: solid 8px transparent;
    border-bottom: solid 8px #9AC200;
    border-left: solid 10px transparent;
    border-right: solid 10px #9AC200;
    &-img {
      position: absolute;
      left: 0px;
      top: -3px;
      font-size: 8px;
      color: #fff;
    }
  }
}
