@class-prefix-tag: ~'adm-tag';

.@{class-prefix-tag} {
  padding: 2px 4px;
  font-size: 10px;
  font-weight: normal;
  display: block;
  white-space: nowrap;
  box-sizing: border-box;
  &-round {
    border-radius: 100px;
  }
}
