@import "../../global/theme";

@class-prefix-button: ~'adm-loading';

.@{class-prefix-button}{
  &-loading {
    border: 2px solid #000;
    border-top-color: transparent;
    border-radius: 100%;

    animation: circle infinite 0.75s linear;
  }
  &-default {
    width: 30px;
    height: 30px;
  }
  &-small {
    width: 20px;
    height: 20px;
  }
  &-big {
    width: 40px;
    height: 40px;
  }
  //&-white {
  //  border-color: var(--adm-color-white);
  //  border-top-color: rgba(0, 0, 0, 0.2);
  //  border-right-color: rgba(0, 0, 0, 0.2);
  //  border-bottom-color: rgba(0, 0, 0, 0.2);
  //}
  

  // 转转转动画
  @keyframes circle {
    0% {
      transform: rotate(0);
    }
    100% {
      transform: rotate(360deg);
    }
  }
  display: inline-block;
}

