@import url('../../global/theme.less');

@class-prefix-radio: ~'adm-radio';

.@{class-prefix-radio} {
  display: inline-flex;
  vertical-align: text-bottom;
  justify-content: flex-start;
  align-items: center;
  cursor: pointer;
  &-content {
    flex: none;
  }
  &-block {
    display: flex;
  }
  &-disabled {
    cursor: not-allowed;
    opacity: 0.3;
  }

  
}
