@import url('../../global/theme.less');
@class-prefix-collapse: ~'adm-collapse';

.@{class-prefix-collapse} {
  width: 100%;
  &-panel-content {
    width: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: baseline;
    font-size: var(--adm-font-size-main);
    color: var(--adm-color-weak);
    overflow: hidden;
  }
}
