@class-prefix-notice-bar: ~'adm-notice-bar';

.@{class-prefix-notice-bar} {
  width: 100%;
  height: 30px;
  font-size: 14px;
  line-height: 30px;
  padding: 0 12px;
  display: flex;
  flex-direction: row;
  align-items: center;

  border-top: solid 1px #a0a0a0;
  border-bottom: solid 1px #a0a0a0;
}
.@{class-prefix-notice-bar}-left {
  flex-shrink: 0;
  margin-right: 8px;
}
.@{class-prefix-notice-bar}-content {
  flex: 1;
  overflow: hidden;
  position: relative;
  height: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;

  &-inner {
    width: fit-content;
    transition-timing-function: linear;
    position: absolute;
    padding: 0 4px;
    white-space: nowrap;
  }
}
.@{class-prefix-notice-bar}-right {
  flex-shrink: 0;
  margin-left: 12px;
  display: flex;
  flex-direction: row;
  align-items: center;
}
