@class-prefix-stepper: ~'adm-stepper';

.@{class-prefix-stepper} {
  display: flex;
  flex-direction: row;
  align-items: center;
  box-sizing: border-box;
  position: relative;
  overflow: hidden;
  &-disabled {
    opacity: 0.6;
    &-btn {
      background: #f8f8f8;
    }
  }

  &-input {
    text-align: center;
    background: #f0f0f0;
  }

  &-minus {
    border: none;
    padding: 0;
    margin-right: 2px;
  }

  &-plus {
    border: none;
    padding: 0;
    margin-left: 2px;
  }
}
