@import "../../global/theme";
@class-prefix-progress-bar: ~'adm-progress-bar';

.@{class-prefix-progress-bar} {
 
  
  &-trail {
    background: #e5e5e5;
    // height: 3px;
    // border-radius: 3px;
  }
  &-fill {
    transition: width 0.3s;
    height: 100%;
    // border-radius: 3px;
  }

}
