@class-prefix-number-keyboard: ~'adm-number-keyboard';

@keyboard-bg-color: #f5f5f5;
@active-bg-color: #f2f2f2;
@border-style: 1px solid #f5f5f5;

.@{class-prefix-number-keyboard} {
  padding: 0 0 8px 8px;
  background: #f2f3f5;
  width: 100%;
  &-main {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
  }

  &-confirmed-style {
    width: 75%;
    // background-color: #f2f3f5;
  }

  &-popup {
    width: 100%;
    user-select: none;
    z-index: 1050;
  }

  &-wrapper {
    display: flex;
    flex-direction: row;
    width: 100%;
  }

  &-header {
    height: 34px;
    line-height: 34px;
    border-top: @border-style;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 0 12px;
    color: #999;
    background-color: #fff;
    &-close-button {
      padding: 0 12px;
      height: 34px;
      align-items: center;
      justify-content: center;
    }
    &-with-title {
      justify-content: space-between;
      &-close-button {
        padding-right: 0;
      }
    }
  }

  &-title {
    color: #999;
    font-size: 14px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  &-confirm {
    width: 25%;
    display: flex;
    flex-direction: column;
    height: 100%;
  }

  &-key {
    width: 31.5%;
    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 48px;
    box-sizing: border-box;
    border-top: @border-style;
    border-right: @border-style;
    background: @keyboard-bg-color;
    margin-top: 8px;
    &-text {
      font-size: 22px;
    }
    &-mid {
      width: 63%;
    }

    &-sign {
      background: #fff;
    }
  
    &-sign:active {
      background-color: @active-bg-color;
    }
  
    &-extra {
      background-color: #fff;
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 8px;
      margin-top: 8px;
      margin-left: 8px;
      margin-right: 8px;
    }
  
    &-number {
      background-color: #fff;
      &:active {
        background-color: @active-bg-color;
      }
    }
  
    &-ok {
      display: inline-block;
      background-color: #9AC200;
      text-align: center;
      margin-top: 8px;
      align-items: center;
      justify-content: center;
      height: 104px;
      &-text {
        color: #fff;
        font-size: 16px;
      }
    }
  
    &-bs {
      border-top: @border-style;
      border-bottom: @border-style;
      height: 104px;
      &-hasclear {
        height: 48px;
      }
    }

    &-clear {
      height: 48px;
      &-text {
        color: #333;
        font-size: 16px;
      }
    }
  }
}
