@import "../../global/theme";

@class-prefix-divider: ~'adm-divider';

.@{class-prefix-divider} {
  align-items: center;
  margin: 16px 0;
  font-size: 14px;
  flex-direction: row;
  width: 100%;
  &-content {
    flex: none;
    padding: 0 16px;
  }
}
