@import "../../global/theme";
@class-prefix-checkbox: ~'adm-checkbox';

@disabledColor: #ebedf0;

.@{class-prefix-checkbox} {
  display: inline-flex;
  vertical-align: text-bottom;
  justify-content: flex-start;
  align-items: center;
  cursor: pointer;
  &-icon {
    flex: none;
    border-radius: 100%;
    border: 1px solid var(--adm-color-light);
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--adm-color-text);
    background: var(--adm-color-white);
    display: flex;
    align-items: center;
    justify-content: center;
  }
  &-block {
    display: flex;
  }
  // 选中
  &-checked {
    &-icon {
      border-color: var(--adm-color-primary);
      background: var(--adm-color-primary);
      &-text {
        color: var(--adm-color-white);
      }
    }
  }
  // 不可选
  &-disabled {
    cursor: not-allowed;
    pointer-events: none;
    &-icon {
      border-color: @disabledColor;
      background: @disabledColor;
      &-text {
        color: var(--adm-color-light);
      }
    }
    &-content {
      color: var(--adm-color-weak);
    }
  }
  // 半选
  &-indeterminate {
    &-icon {
      border-color: var(--adm-color-primary);
      display: flex;
      align-items: center;
      justify-content: center;
      &-text {
        width: 60%;
        height: 60%;
        background: var(--adm-color-primary);
        border-radius: 100%;
      }
    }
  }
  &-content {
    flex: none;
  }
}
