@import "../../global/theme";
@class-prefix-checkbox: ~'adm-checkbox';

.@{class-prefix-checkbox} {
  display: inline-flex;
  vertical-align: text-bottom;
  justify-content: flex-start;
  align-items: center;
  cursor: pointer;
  &-input {
    display: none;
  }
  &-icon {
    flex: none;
    border-radius: 22px;
    border: 1px solid #ccc;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 22px;
    height: 22px;
    color: #ffffff;
    &-checked {
      width: 22px;
      height: 22px;
    }
  }
  &-custom-icon {
    font-size: 22px;
  }

  &-content {
    flex: none;
    font-size: 17px;
    padding-left: 8px;
  }
}
.@{class-prefix-checkbox}-block {
  display: flex;
}
.@{class-prefix-checkbox}-checked {
  &-icon {
    border-color: var(--adm-color-primary);
  }
}
.@{class-prefix-checkbox}-disabled {
  cursor: not-allowed;
  &-content {
    color: var(--adm-color-weak);
  }
  &-indeterminate {
    &-icon {
      color: #ccc;
      border-color: #ccc;
      background-color: #ebedf0;
    }
  }
  &-checked {
    &-icon {
      color: #ccc;
    }
  }
  &-icon {
    border-color: #ccc;
    background-color: #ebedf0;
  }
}
.@{class-prefix-checkbox}-indeterminate {
  &-icon {
    border-color: var(--adm-color-primary);
    background-color: #ffffff;
    color: var(--adm-color-primary);
  }
  &-checked {
    width: 60%;
    height: 60%;
    border-radius: 100%;
    background-color: currentColor;
  }
}
