@import url('../../global/theme.less');
@class-prefix-step: ~'adm-step';
@class-prefix-steps: ~'adm-steps';

@errorColor: #ff3141;
@primaryColor: #1677ff;
@iconBgColor: #e8e8e8;

:root {
  --line-to-next-color: #e5e5e5;
  --icon-color: #e5e5e5;
}

.@{class-prefix-steps} {
  width: 100%;

  &-horizontal {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 8px 0;
  }

  &-vertical {
    padding: 8px 16px;
  }
}

.@{class-prefix-step} {
  &-indicator {
    display: flex;
    align-items: center;
  }
  &-content {
    width: 95%;
  }
  &-title {
    color: #333;
    width: 100%;
    white-space: wrap;

    &-error {
      color: @errorColor;
    }
    &-finish {
      color: @primaryColor;
    }
    &-wait {
      color: #333;
    }
  }
  &-description {
    width: 100%;
    white-space: wrap;
  }
  &-horizontal {
    flex: 1;
    flex-direction: column;
    align-items: center;
    &-indicator {
      width: 100%;
      height: 24px;
      flex-direction: row;
    }
    &-line {
      flex: 1;
      height: 1px;
      background: #e8e8e8;
    }

    &-content {
      padding-top: 2px;
      &-title {
        font-size: 12px;
      }
      &-description {
        font-size: 12px;
        margin-top: 2px;
        color: var(--adm-color-weak);
      }
    }
  }
  &-vertical {
    flex-direction: row;
    align-items: flex-start;
    &-indicator {
      width: 24px;
      height: 100%;
      margin-right: 8px;
      flex-direction: column;
      margin-top: 7px;
    }
    &-line {
      flex: 1;
      width: 1px;
      background: #e8e8e8;
    }

    &-content {
      flex: auto;
      margin: 0 0 15px 0;
      &-title {
        font-size: 17px;
      }
      &-description {
        padding-top: 2px;
        font-size: 15px;
        color: var(--adm-color-weak);
      }
    }
  }
  &-line {
    &-wait {
      background: #e8e8e8;
    }
    &-finish {
      background: #1677ff;
    }
    &-error {
      background: #ff3141;
    }
  }
  &-dot {
    width: 8px;
    height: 8px;
    border-radius: 4px;
    z-index: 6;
    background-color: #e5e5e5;
    &-wait {
      background-color: #e5e5e5;
    }
    &-process {
      background-color: #1677ff;
    }
    &-finish {
      background-color: #1677f1;
    }
    &-error {
      background-color: #ff3141;
    }
  }
}

